.about-screen{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
}
.about-screen h1{
    font-size: 48px;
}
.about-screen p{
    font-size: 26px;
}
.about-screen img{
    max-width: 80vw;
}
.about-1{
    width: 30vw;
    padding: 15px;
}
.about-2{
    width: 30vw;
    padding: 15px;
}
.about-12{
    display: flex;
    text-align: justify;
    justify-content: space-around;
    align-items: flex-start;
}
.about-12 p{
    font-size: 20px;
}
@media only screen and (max-width: 800px){
    .about-screen p{
        font-size: unset;
    }
    .about-12{
        flex-direction: column;
    }
    .about-1{
        width: 80vw;
    }
    .about-2{
        width: 80vw;
        padding: 15px;
    }
}